body{
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
}
.container{
    max-width:512px;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
}
.square{
    flex: auto;
    background: #efefef;
    transition:.15s;
    height:32px;
    width:32px;
}
.gray{
    background: #efefef;
}
.darken{
    background-color:#ff0000;
}