body{
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
h1{}
.container{
    margin:0 auto;
    padding:16px;
    text-align:center;
}
.btn-row{
    margin:8px;
}
button{
    font-size:16px;
    font-weight:bold;
    color:#009688;
    width:156px;
    height:32px;
    border:2px dashed #009688;
    background-color:#fff;
    cursor:pointer;
    border-radius:2px;
    transition:.25s;
}
button:hover{

}
#grid-container{
    display: inline-grid;
    margin:0 auto;
    width:720px;
    height:720px;
    background:rgb(255, 255, 255);
    border:1px solid #bebebe;
}